@model Saturn.Model.Codebooks.ContactPerson

@{
    ViewBag.Title = "Контакт особи";
}

<h3>Промени</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h5>Контакт особа</h5>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.DrivingSchoolId)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactTypeId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Html.Kendo().DropDownListFor(m => m.ContactTypeId)
                    .BindTo(ViewBag.ContactTypeId)
                    .DataValueField("Value")
                    .DataTextField("Text")
                    .OptionLabel("Одбери тип")
                    .HtmlAttributes(new { style = "width: 250px" }))
                @Html.ValidationMessageFor(model => model.ContactTypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactValue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactValue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContactValue, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сними" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вратисе назад", "Index")
</div>
