@model Saturn.Model.Codebooks.ExamCenters

@{
    ViewBag.Title = "Испитни центри";
}

<div>
    <h3>Детали за испитен центар</h3>
	<hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.City.Name)</dt>
        <dd>@Html.DisplayFor(model => model.City.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.TaxNumber)</dt>
        <dd>@Html.DisplayFor(model => model.TaxNumber)</dd>

        <dt>@Html.DisplayNameFor(model => model.Address)</dt>
        <dd>@Html.DisplayFor(model => model.Address)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Промени", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вратисе назад", "Index")
</p>
