@model IEnumerable<Saturn.Model.Views.ViewExamCandidates>

@{
    ViewBag.Title = "Резултати од одржан испит";
}

<h3>@ViewBag.Title</h3>

<table class="table table-bordered table-condensed">
    <tr>
        <th>@Html.DisplayNameFor(model => model.ExamId)</th>
        <th>@Html.DisplayNameFor(model => model.ExamType)</th>
        <th>@Html.DisplayNameFor(model => model.ExamRegistrationId)</th>
        <th>@Html.DisplayNameFor(model => model.RegistrationId)</th>
        <th>@Html.DisplayNameFor(model => model.DossierNumber)</th>
        <th>@Html.DisplayNameFor(model => model.FirstName)</th>
        <th>@Html.DisplayNameFor(model => model.LastName)</th>
        <th>@Html.DisplayNameFor(model => model.Category)</th>
        <th>@Html.DisplayNameFor(model => model.NegativePoints)</th>
        <th>@Html.DisplayNameFor(model => model.Status)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ExamId)</td>
            <td>@Html.DisplayFor(modelItem => item.ExamType)</td>
            <td>@Html.DisplayFor(modelItem => item.ExamRegistrationId)</td>
            <td>@Html.DisplayFor(modelItem => item.RegistrationId)</td>
            <td>@Html.DisplayFor(modelItem => item.DossierNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
            <td>@Html.DisplayFor(modelItem => item.Category)</td>
            <td>@Html.DisplayFor(modelItem => item.NegativePoints)</td>
            <td>@Html.DisplayFor(modelItem => item.Status)</td>
        </tr>
    }
</table>


<table class="table table-bordered table-condensed" style="width:auto">
    <tr>
        <td>Шифра термин</td>
        <td>@ViewBag.ExamId</td>
    </tr>
    <tr>
        <td>Локација</td>
        <td>@ViewBag.ExamLocation</td>
    </tr>
    <tr>
        <td>Датум на полагање</td>
        <td>@ViewBag.ExamDate</td>
    </tr>
    <tr>
        <td>Време</td>
        <td>@ViewBag.ExamTime</td>
    </tr>
    <tr>
        <td>Претседател на комисија</td>
        <td>@ViewBag.President</td>
    </tr>
    <tr>
        <td>Испитувач</td>
        <td>@ViewBag.Examiner</td>
    </tr>
    <tr>
        <td>Член на комисија</td>
        <td>@ViewBag.Member</td>
    </tr>

    <tr><td></td><td></td></tr>

    <tr>
        <td></td>
        <td>@Html.ActionLink("Печати резултати", "Edit", new { id = 1 })</td>
    </tr>
    <tr>
        <td></td>
        <td>@Html.ActionLink("Печати резултати - теоретски дел", "Edit", new { id = 1 })</td>
    </tr>
    <tr>
        <td></td>
        <td>@Html.ActionLink("WEB страна - Резултати теоретски дел", "Edit", new { id = 1 })</td>
    </tr>
    <tr>
        <td></td>
        <td>@Html.ActionLink("WEB страна - Резултати практичен дел", "Edit", new { id = 1 })</td>
    </tr>

    <tr><td></td><td></td></tr>

    <tr>
        <td></td>
        <td>@Html.ActionLink("Достава на тестови", "Edit", new { id = 1 })</td>
    </tr>
    <tr>
        <td></td>
        <td>@Html.ActionLink("Достава на тестови - положени", "Edit", new { id = 1 })</td>
    </tr>
    <tr>
        <td></td>
        <td>@Html.ActionLink("Достава на досиеа", "Edit", new { id = 1 })</td>
    </tr>
</table>