
@{
    ViewBag.Title = "Прегледи";
}

<h3>@ViewBag.Title</h3>
<br />
<table class="table table-striped">
    <tr>
        <td>
            @Html.ActionLink("Попис на акти", "Index")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Регистар", "Index")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Листа на кандидади од Град, автошкола, категорија", "Index")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Број на кандидати за одредена автошкола, град и одредена година и нивен успех", "Index")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Прегледи за спроведени испити за кадидат за возач на моторни возила", "Index")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Преглед на успешност на кадидатите по категории", "Index")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Пероидичен преглед на успешност на кандидатите", "Index")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Број на кадидати кој полагале во одреден период", "Index")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Број на запишани кандидати кој полагале во одреден период", "Index")
        </td>
    </tr>
</table>