@model Saturn.Model.Codebooks.DrivingCategory

@{
    ViewBag.Title = "Возачки категории";
}

<h3>Дали сте сигурни дека сакате да го избришете следново?</h3>
<div>
    <h4>Возачка категорија</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowedNegativeTheory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowedNegativeTheory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowedNegativePolygon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowedNegativePolygon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowedNegativePracticle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowedNegativePracticle)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Избриши" class="btn btn-default" /> |
            @Html.ActionLink("Вратисе назад", "Index")
        </div>
    }
</div>
